.company-img {
  margin-top: 500px;
  margin-left: 101px;
  width: 400px;
  background: #353535;
  border-radius: 10px;
  height: 260px;
  object-fit: cover;
}
.bg-com-Image {
  width: 1550px;
  height: 580px;
  background-size: cover;
  background-position: 40%;
}

.chain-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 101px;
}

.company-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 100px;
}
.c-head {
  width: 900px;
  padding-top: 100px;
  padding-left: 200px;
}

.c-head h1 {
  font-weight: bold;
  font-size: 64px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
}

.c-head p {
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.4);
}

.c-head h4 {
  font-weight: normal;
  font-size: 32px;
  line-height: 47px;

  color: #000000;
}

.c-infos {
  padding-left: 105px;
  padding-top: 150px;
}

.answers-box {
  background-color: #f1ebfc;
  padding-left: 400px;
  padding: 120px 250px 150px 101px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.answers-right {
  width: 600px;
}

.questions p {
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
}
.answers h3 {
  font-style: italic;
  font-weight: normal;
  font-size: 32px;
  line-height: 47px;
  color: #7335e5;
}

.qa-box {
  margin-bottom: 40px;
}

.rating-container {
  margin-left: 101px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.rating-right {
  padding-left: 50px;
  margin-right: 400px;
}

.rating-left {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  margin-right: 100px;
}

.rating-left h1 {
  font-size: 32px;
}

.rating-box p {
  font-weight: bold;
  opacity: 1;
}

.message {
  color: #7335e5;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  color: #7335e5;
  margin-top: -15px;
}

.headline {
  font-weight: bold;
  font-size: 64px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
}

.bold {
  font-weight: bold;
  font-size: 18px;
  margin: 0px 15px;
  text-transform: uppercase;
}

.rating-content {
  padding-bottom: 40px;
}

.rating-listings {
  margin: 70px 0px;
}

.proof-upload p {
  color: #7335e5;
}

.proof-upload input {
  width: 250px;
  height: 60px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #7335e5;
  color: #7335e5;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 47px;
  margin: 10px 0px 50px;
}

.image-changer p {
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
}
.small-submit {
  font-size: 18px;
  font-weight: 700;
  box-sizing: border-box;
  border: none;
  background-color: white;
  margin-left: 15px;
}

.small-submit:hover {
  color: #7335e5;
}

.rate-form {
  width: 100px;
  display: flex;
  flex-direction: column;
}

/* .rate-form section {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
} */

.rate-form input {
  width: 300px;
  height: 30px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #7335e5;
  color: #7335e5;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 47px;
  margin-bottom: 40px;
}

.margin {
  height: 40px;
}
