nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px 20px;
}

.logo-header {
  width: 120px;
}
.navLinks {
  color: black;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 1em;
}

.navLinks.purple {
  color: black;
  margin-right: 20px;
}

.navLinks:hover {
  color: #7335e5;
}
